includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/tomasvotruba/type-coverage/config/extension.neon

parameters:
    level: 9
    phpVersion: 80002
    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
    stubFiles:
        - static-analysis/stub/UserProviderInterface.phpstub
        - static-analysis/stub/phpstan/UserInterface.phpstub
        - static-analysis/stub/phpstan/UserNotFoundException.phpstub
    excludePaths:
        analyseAndScan:
            - vendor
            - rector.php
            - ecs.php
    type_coverage:
        return_type: 100
        param_type: 100
        property_type: 100
    fileExtensions:
        - 'php'
